body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 100px;
    border-style: solid dashed dotted groove; 
    border-width: 2px 4px 6px 8px;
    border-color: red green yellow black;
}